@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&family=Oswald:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

body ::selection {
  background-color: #9CC020 !important;
  color: #fff !important;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: block;
}

.spacer {
  padding: 100px 0;
}

.section_title {
  position: relative;
  display: inline-block;
}

.section_title::after {
  content: "";
  position: absolute;
  bottom: -9px;
  border-radius: 5px;
  left: 15%;
  width: 70%;
  height: 2px;

  background-color: #9CC020;
}

.section_title2::after {
  content: "";
  position: absolute;
  bottom: -9px;
  border-radius: 5px;
  left: 0;
  width: 70%;
  height: 2px;

  background-color: #9CC020;
}

.section_title2 {
  position: relative;
  display: inline-block;
}

.food_card>img:first-of-type {
  width: 230px;
  margin: 0 auto;
}

.food_card2>img:first-of-type {
  width: 50%;
  margin: 0 auto;
}

.swiper-button-prev {
  left: 0 !important;
  color: #265F2C !important;
}

.swiper-button-next {
  right: 0 !important;
  color: #265F2C !important;
}

.tr {
  display: flex;
  justify-content: space-between;
}

.th {
  /* background-color: red; */
  /* margin-left: 5px;*/
  font-size: 15px;
  display: block;
  width: 100%;
  font-weight: 600;
  border: .5px solid #0000003a;
  padding: 8px;
}

.td {
  padding: 7px;
  border: .5px solid #0000003a;
  display: block;
  width: 100%;
  font-size: 14px;
}








@media (max-width: 640px) {
  .wrapper {
    padding: 0 10px;
  }

  .spacer {
    padding: 50px 0;
  }

  .swiper-button-prev {
    display: none !important;
  }

  .swiper-button-next {
    display: none !important;
  }

  .food_card2>img:first-of-type {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 640px) {
  .wrapper {
    /* display: none; */
    padding: 0 30px;
  }

  .spacer {
    padding: 70px 0;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }

  .spacer {
    padding: 80px 0;
  }
}

@media (min-width: 1165px) {
  .wrapper {
    padding: 0;
  }

  .spacer {
    padding: 100px 0;
  }
}




.my-menu .anchor {
  padding: 6px 12px;
  border-radius: 3px;
}

.my-menu li {
  margin: 0 !important;
}

.my-menu .anchor.active {
  background-color: #9CC020 !important;
  /* display: none !important; */
  color: #000;
}